* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 /* make navbar more responsive */
 @media screen and (min-width: 801px) {
      .navbar {
        /* font-size: 80px; */
        height: 50px;
      }
      
      .navbar a {
          line-height: 50px;
          font-size: 20px;
      }
      
      .navbar a.logo {
          line-height: 50px;
          font-size: 30px;
      }
  }   
    
 /* make navbar more responsive */
  @media screen and (max-width: 800px) {
      .navbar {
        height: 8vw;
      }
      
      .navbar a {
          line-height: 8vw;
          font-size: 3vw;
      }
      
      .navbar a.logo {
          line-height: 8vw;
          font-size: 4vw;
      }
  }
  
  
/* navbar class */
  .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      background: black;
  }
 
/* navbar element style */
 .navbar a {
     float: right;
     background-color: black;
     display: inline-block;
     padding: 0 18px;
     text-decoration: none;
     color: grey;
 }

/* logo */
 .navbar a.logo {
     float: left;
     font-weight: bolder;
     color: grey;
     text-decoration: none;
     padding: 0 18px;
 }
 
 /* active navbar page */
 .navbar a.active {
     text-decoration: none;
     color: #087fb5;
 }
 
/* hovering over a navbar element */
 .navbar a:hover {
     background-color: grey;
     color: white;
     
 }
 

 
 
